/*
Colors used:
Primary Color (Off-White): #F8FAFF;
Secondary Color (Blurple): #7476B0;
Accent Color (Wine): #653040;
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #F8FAFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #332f33;
}

h1, h2, h3, h4 {
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.4;
  color: #332f33;
}

h1{
  font-size: 1.8em;
  font-weight: 500;
  text-align: center;
}

h2{
  font-size: 1.6em;
  font-weight: 500;
  text-align: center;
}

h3{
  font-size: 1.4em;
  font-weight: 400;
  text-align: left;
}

h4{
  font-size: 1.25em;
  font-weight: 400;
  text-align: left;
}

img {
  width: 100%;
}

video {
  width: 100%;
}

a {
  color: #7476B0;
  text-decoration: none;
}

a:visited {
  color: #7476B0;
  text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px solid #7476B0;
}

a:hover,
a:focus {
  color: #653040;
  text-decoration: none;
	border-bottom: 2px solid #653040;
}

a:active {
  color: #653040;
}

.button {
  display: block;
  background-color: #7476B0;
  color: #F8FAFF;
  font-weight: 500;
  padding: 10px;
  border-radius: 3px;
  opacity: 1;
  transition-duration: 0.2s;
  transition-property: opacity;
  max-width: 290px;
  text-align: center;
  margin: 0 auto;
}

.button:visited {
  color: #F8FAFF;
}

.button:hover {
  opacity: 0.8;
  border-bottom: 2px solid #653040;
}

.button:active {
  color: #653040
}

.button.contact {
  background-color: transparent;
  color: #7476B0;
  text-transform: uppercase;
  border: 2px solid #7476B0;
}

.button.contact:hover {
  background-color: #7476B0;
  color: #F8FAFF;
  opacity: 0.8;
	border-bottom: 2px solid #653040;
}

.button.contact:active {
  background-color: transparent;
  color: #653040;
  border: 2px solid #653040;
}

/* Layout styling */

.container {
  padding: 0 15px;
}

.icon {
  display: inline-block;
  width: 27px;
  vertical-align: middle;
  text-align: center;
  background-color: transparent;
  transform: translate(-7px, -4px);
}

.this-icon {
  display: inline-block;
  width: 27px;
  vertical-align: middle;
  text-align: center;
  background-color: transparent;
  transform: translate(-7px, -4px);
}

.row {
  margin: 30px 0;
}

.this-row {
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(116, 118, 176, 0.8);
}

.small.row {
  margin: 20px 0;
}

#about .row {
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(116, 118, 176, 0.8);
}

#work .row {
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(116, 118, 176, 0.8);
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.project-page-contact {
  padding-top: 10px;
  margin: 30px 15px;
  border-top: 1px solid rgba(116, 118, 176, 0.8);
}

.logo {
  max-width: 250px;
  padding-top: 10px;
}

header {
  text-align: center;
  background-color: #FAF8FF;
  padding: 10px 0;
  box-shadow: 0px 4px 5px 0px rgba(116, 118, 176, 0.35);
  position: fixed;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 10px;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 10px;
  margin-right: 10px;
}

#hero {
  background-color: rgba(116, 118, 176, 0.25);
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

main {
  padding-top: 157.02px;
}

#contact{}

  .project-description p:last-of-type {
    padding-bottom: 20px;
  }

/*.image {
  margin-top: 25px;
  margin-bottom: 25px;
}*/

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 0 0;
    }
  nav {
    width: auto;
    float: right;
    margin-top: 10px;
    }
  .logo {
    padding-top: unset;
    }
  #hero {
    padding-left: 10px;
    padding-right: 10px;
    }
  main {
    padding-top: 107.2px;
    }
  body {
    font-size: 18px;
    }
  .col-md-6 {
    width: 50%;
    }
  [class*="col-"] {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    }
  #work h2 {
    margin-top: 0;
    }
  #contact h1 {
    margin-bottom: 15px;
    }
  #contact p {
    margin-top: 15px;
    margin-bottom: 30px;
    }
  #about h3 {
    margin-top: 0;
    margin-bottom: 20px;
    }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 60%;
    float: left;
    }
  .col-lg-5 {
    width: 40%;
    float: right;
    }
  .col-lg-12 {
    width: 100%
    }
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    }
  .this-row {
    border-bottom: 0;
    }
  .this-icon {
    transform: translate(-7px, -3px);
    }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
